.boxType{
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.boxInType{
    width: 30%;
    height: 500px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

#boxTre{
    background-image: url(./yalynka.webp);
}

#boxToy{
    background-image: url(./img.webp);
}

#boxGar{
    background-image: url(./girlyandy.webp);
}