/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap'); */

.boxType{
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxInType{
    width: 30%;
    height: 500px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    color: rgba(255, 255, 255, 0.704);
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    /* font-family: 'Ubuntu', sans-serif; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.lock{
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#boxTre{
    background-image: url(./yalynka.webp);
}

#boxToy{
    background-image: url(./img.webp);
}

#boxGar{
    background-image: url(./girlyandy.webp);
}

#boxActBuy{
    background-image: url(./sale.webp);
    width: 97%;
    margin-top: 50px;
}

.lock{
    margin-bottom: -100px;
    padding: 10px 0;
}

@media screen and (max-width: 810px) {
    .boxType{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin-top: 100px;
    }

    .lock{
        display: flex;
        flex-direction: column;
    }

    .boxInType{
        margin: 40px 0;
        width: 97%;
    }
}

