.loadScreen{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    background-color: #fff;
    z-index: 10;
    background-color: #FF7171;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    transition: 1s;
    animation: 8s infinite animateLoading;
    animation-iteration-count: 2;
}

.razom{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    background-color: #fff;
    z-index: 10;
    background-color: #FF7171;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    animation: 8s infinite animateCar;
    transition: 1s;
    animation-iteration-count: 2;
}

.box-treePng img{
    width: 200px;
    transform: rotate(25deg);
}

.box-carPng img{
    width: 200px;
    z-index: 10;
    position: relative;
}

.box-treePng img{
    width: 70px;
    position: absolute;
    /* margin-right: 100px; */
    left: 50%;
    margin-left: -50px;
    z-index: 0;
    animation: 8s infinite animateTree;
    animation-iteration-count: 2;
}

@keyframes animateLoading{
    0%{
        display: flex;
    }

    99%{
        display: flex;
    }

    100%{
        display: none;
    }
}