@font-face {
  font-family: 'e-Ukraine_Logo';
  src: url('./fonts/e-UkraineHead-Bold.eot');
  src: local('☺'), url('./fonts/e-UkraineHead-Bold.woff') format('woff'), url('./fonts/e-UkraineHead-Bold.ttf') format('truetype'), url('./fonts/e-UkraineHead-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'e-Ukraine_Regular';
  src: url('./fonts/e-Ukraine-Light.eot');
  src: local('☺'), url('./fonts/e-Ukraine-Light.woff') format('woff'), url('./fonts/e-Ukraine-Light.ttf') format('truetype'), url('./fonts/e-Ukraine-Light.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  font-family: 'e-Ukraine_Regular';
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 15px;

}

::-webkit-scrollbar-track {
  background: #5d88ff;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(112, 255, 121);
  border-radius: 5px;
  margin-right: 10px;
}

.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgb(255, 67, 181);
  background: linear-gradient(90deg, rgba(255, 67, 181, 1) 0%, rgba(255, 77, 77, 1) 100%);
  overflow-x: hidden;
}

.boxInType,
.boxHeadTextImg p,
.span_buttons{
  font-family: 'e-Ukraine_Logo';
}

@media screen and (max-width: 1275px) {
  .boxInsideTwo {
    font-size: 15px;
    width: 90%;
  }

  #row-reverse .right-side,
  #row-reverse .left-side,
  #row .right-side,
  #row .left-side {
    width: 50%;
  }
}